.navbar-dark{
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    opacity: 0.95;
}

.navbar-toggler{
    border: 0px solid transparent;
}

.navbar-dark .navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    color: burlywood;
}

.navbar-dark .navbar-brand:hover{
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    color: lightgray;
}

.navbar-dark .nav-item .nav-link:hover{
    color: burlywood;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: burlywood;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

.form-contact-me{
    background-image: url(../img/grid.jpg);
    background-size: auto auto;
    padding-top: 200px;
    padding-left: 15%;
    padding-bottom: 15%;
}

label{
    font-weight: bold;
    font-size: 12px;
}

.social-list li{
    display:inline-block;
}

a:visited, a:link, a:active
{
    color: #000;
    text-decoration: none;
}

.instagram:hover{
    color: #e1306c;
    text-decoration: none;
    text-shadow: 3px 3px 16px #e1306c66
}

.linkedin:hover{
    color: #0e76a8;
    text-decoration: none;
    text-shadow: 3px 3px 16px #0e76a866
}

.github:hover{
    color: #666;
    text-decoration: none;
    text-shadow: 3px 3px 16px #6666
}

.gmail:hover{
    color: #399;
    text-decoration: none;
    text-shadow: 3px 3px 16px #3996
}

button{
    border: none;
    padding: 15px;
    background-color: burlywood;
    border-radius: 3px;
}

.btn-send{
    padding-right: 24px;
}

.btn-send:hover,
.btn-covid:hover,
.btn-resume:hover{
    box-shadow:3px 3px 16px 16px #deb88712
}

.socials{
    padding-top: 25px;
    padding-left: 15%;
    padding-bottom: 25px;
    background-color: burlywood;
}

input{
    width: 60%;
    background-color: #000000d0;
    border: 3px solid burlywood;
    border-radius: 5px;
    color: burlywood;
    padding: 2px;
}

textarea{
    width: 60%;
    background-color: #000;
    border: 3px solid burlywood;
    border-radius: 5px;
    resize: none;
    color: burlywood;
    padding: 2px;
}

.connect{
    color: #000;
}

.home{
    background-image: url(../img/beach.jpg);
    background-size: auto auto;
    padding-top: 280px;
    padding-left: 12%;
    padding-bottom: 35%;
}

.typewriter {
    font-family: Courier, monospace;
    color: black;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.5s steps(16, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid burlywood;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: burlywood; 
    }
}

.about-me{
    background-image: url(../img/code.png);
    background-size: auto auto;
    padding-top: 150px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

.alert{
    padding: 2%;
    margin-bottom: 0;
    border-radius: 0;
    font-size:12px;
    text-align: right;
    background-color: black;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding-left: 7%;
    padding-right: 7%;
    background-color: burlywood;
    color: #000;
}

p {
    font-size: medium;
}

.info-card {
    padding-top: 150px;
    padding-bottom: 75px;
    border-radius: 0;
    background-image: url(../img/grid.jpg);
    background-size: auto auto;
    background-blend-mode: overlay;
}

.education {
    background-image: url(../img/blackboard.jpg);
    background-size: auto auto;
    padding: 7%;
}

.card-group .card {
    padding: 7px;
    border:none;
}

.experience {
    background-image: url(../img/building.jpg);
    background-size: auto auto;
    padding: 7%;
}

.acheivements_volunteering {
    background-image: url(../img/gradient.svg);
    background-size: auto auto;
}

.languages {
    background-image: url(../img/text.jpg);
    background-size: auto auto;
    color: burlywood;
}